src/main/mule/http-test-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0f040469-3a0e-4ee7-8cce-884eb19107d2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="http-test-projectFlow" doc:id="84387cbc-efc9-49c4-9712-423d30bdcff2" >
		<http:listener doc:name="Listener" doc:id="1f54bb86-9b32-4798-9fb7-e1b7a1facaba" config-ref="HTTP_Listener_config" path="/health"/>
		<logger level="INFO" doc:name="Logger" doc:id="ffb5855b-c6a0-4930-ae77-3ca38022aab3" message="Hello http-test-project!"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{"message": "Hello http-test-project!"}]' doc:name="Set Payload" doc:id="5dddf41f-dec1-4cef-a6be-b5e24212cc9c" />
	</flow>
</mule>
